[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

keras = "*"
tensorflow = "*"
hyperopt = "*"
scikit-learn = "*"
networkx = "==1.11"


[dev-packages]



[requires]

python_version = "3.5"
